<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">
      <i class="fa fa-snowflake-o" aria-hidden="true"></i>
      Previsão Do Tempo
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['cadastrar']">Cadastrar <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['listagem']">Listagem</a>
      </li>
    </ul>
  </div>
</nav>